// font variables
$font-color: #acac9f;
$font-alternative-color: #b1b1a2;
$font-third-color: #949491;

// color variables
$accent-color: #ee6c4d;

// background-color variables
$background-color: #192534;
$background-alternative-color: #3c434d;
$background-third-color: #78581f;
$background-fourth-color: #3c434d;

// ratio variable
$ratio: 1.25rem;

// global padding variable
$padding: calc((2/12) * 100%);
