.header {
    display: flex;
    justify-content: space-between;
    background: $background-fourth-color;
    position: relative;

    .logo {
        padding: 1rem;
        width: 150px;
    }
}

.header::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: $background-fourth-color;
    clip-path: polygon(100% 0, 100% 0%, 80% 100%, 0 0%, 0 0);
}

.site-header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    * {
        color: $font-color;
    }

    h1 {
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    .header {
        img {
            max-width: 150px;
        }
    }
}
