body {
    .header,
    .main,
    .footer {
        padding: 1rem $padding;
    }
}

img,
embed,
object,
video {
    max-width: 100%;
}

@media (max-width: 767px) {
    body {
        .header,
        .main,
        .footer {
            padding: 1rem;
        }

        .main-aside {
            padding: 0;
        }
    }
}
