body {
    background-color: $background-color;

    .header,
    .main,
    .footer {
        padding: calc(1rem + 40px) $padding;
    }
}

img,
embed,
object,
video {
    max-width: 100%;
}

@media (max-width: 767px) {
    body {
        .header,
        .main,
        .footer {
            padding: calc(1rem + 40px) 1rem;
        }

        .main-aside {
            padding: 0;
        }
    }
}
