.main {
    background-color: $background-color;
    min-height: 65vh;

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    li {
        max-width: 60rem;
        margin: 0;
    }

}

.main-aside {
    padding: 1rem calc((1 / 12) * 100%);
}

.main-img {
    margin: auto;
    display: block;
    border-radius: 50%;
}

.grid {
    display: grid;
}

.grid-tech {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    'title title title'
    'item-1 item-2 item-2'
    'item-3 item-3 item-4'
    'item-5 item-5 item-5'
    'item-6 item-7 item-7';
    grid-gap: 1rem;
}

.grid-analysis {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    'title title title'
    'item-1 item-2 item-3';
    grid-gap: 1rem;
}

.main-card {
    width: 100%;
    text-decoration: none;
    background-color: $background-third-color;

    p {
        width: 100%;
        padding-block: 1rem;
        text-align: center;
    }
}

.main-card:hover > p > i {
    opacity: 0.9;
    transform: scale(1.1);
}

.main-card:active {
    opacity: 0.8;
}

.main-card-title {
    display: grid;
    width: 100%;
    padding-block: 1rem;
    place-items: center;
    background-color: $background-fourth-color;
    color: $font-third-color;
}

.grid > h1 {
    width: 100%;
    text-align: center;
    grid-area: title;
}

.main-card:nth-of-type(1) {
    grid-area: item-1;
}

.main-card:nth-of-type(2) {
    grid-area: item-2;
}

.main-card:nth-of-type(3) {
    grid-area: item-3;
}

.main-card:nth-of-type(4) {
    grid-area: item-4;
}

.main-card:nth-of-type(5) {
    grid-area: item-5;
}

.main-card:nth-of-type(6) {
    grid-area: item-6;
}

.main-card:nth-of-type(7) {
    grid-area: item-7;
}

table {
    border-collapse: separate;
    border-spacing: 1rem;
    text-align: left;
    font-size: 1rem;
    border: 1px solid $font-alternative-color;
    min-width: 50%;
    margin-bottom: calc(1.25 * $ratio);
    margin-left: auto;
    margin-right: auto;

    td {
        font-weight: 400;
    }
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        'title'
        'item-1'
        'item-2'
        'item-3'
        'item-4'
        'item-5'
        'item-6'
        'item-7';
    }
}
