// font variables
$font-color: #fefef1;
$font-alternative-color: #1b1b19;
$font-third-color: #e5e5da;

// color variables
$accent-color: #ee6c4d;

// background-color variables
$background-color: #365173;
$background-alternative-color: #6a798a;
$background-third-color: #bf8e34;
$background-fourth-color: #1e2d40;

// ratio variable
$ratio: 1.25rem;

// global padding variable
$padding: calc((2/12) * 100%);
