{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
        <div class="grid grid-tech">
            <h1>Teknologier</h1>
            {% for page in pages("technology/sub") if not page.hidden %}
            <a class="main-card" href="{{ page.id }}">
                <p class="main-card-title">{{ page.title }}</p>
                <p>
                    <i class="{{ page.meta.icon }} fa-3x " aria-hidden="true"></i>
                </p>
            </a>
            {% endfor %}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
